.github-link:hover .github-path {
  fill: grey;
  transition-duration: 0.3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (max-width: 768px) {
  .profile-link img {
    width: 3rem;
    height: 3rem;
  }
}
   