@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}

body {
    background: rgb(0 0 0/var(--tw-bg-opacity));
    scroll-behavior: smooth;
}

.hero-heading {
    /* color: #FFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.72px; */
    font-family: "Plus Jakarta Sans", "Nunito" ,sans-serif !important;
    text-align: center;
    letter-spacing: -.04em;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#fff 30%, rgba(255, 255, 255, .38));
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    transition: transform .96s cubic-bezier(.3,1.17,.55,.99);
    position: static;
}

.hero-heading-span {
    /* color: #FFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.72px; */
    font-family: "Plus Jakarta Sans", "Nunito" ,sans-serif !important;
    text-align: center;
    letter-spacing: -.04em;
    background-image: linear-gradient(#605BFF 30%, #615bff77 );
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    transition: transform .96s cubic-bezier(.3,1.17,.55,.99);
    position: static;
}

.card-hover:hover,
.gradient-card {
    border-radius: 20px;
    background: linear-gradient(144deg, #FFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    backdrop-filter: blur(5px);
}

.formShadow{
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.pink__gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
    filter: blur(900px);
}

.white__gradient {
    background: rgba(255, 255, 255, 0.6);
    filter: blur(750px);
}

.gradient-text{
    font-family: "Plus Jakarta Sans", "Nunito" ,sans-serif !important;
    text-align: center;
    background-image: linear-gradient(#605BFF 30%, #615bff77 );
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 0;
    transition: transform .96s cubic-bezier(.3,1.17,.55,.99);
    position: static;
}
.gradient-btn{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right ,#605BFF, #615bff77);
    /* Optional: Add a box shadow for a better effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 1s ease;
}
.gradient-btn:hover{
    background-image: linear-gradient(to right,  #615bff77, #605BFF);
 
}

.btn-shadow{
    box-shadow: 0 0 2px #615bff8c;
}

.btn-shadow:hover{
    box-shadow: 0 0 40px #7772f384;
}
